/* Mobile first design */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: #000;
  font-size: 110%;
}

body {
  background-color: #cae4db;
}

.hidden {
  display: none;
}

.bg {
  width: 90%;
  margin: 0 auto;
  /* background-color: aqua; */
}

#Num,
.form {
  width: 100%;
}

/* Navigation */
#navigation {
  padding: 2rem;
  border: #000 solid 2px;
  margin-top: 1rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #ff7b54;
}

/* Question */

#question {
  border-left: #000 solid 2px;
}

#check {
  width: 100%;
  padding: 1rem 0;
  background-color: #adce74;
}

#check:hover {
  background-color: #61b15a;
}

/* Form fill */
#form-fill {
  background-color: #ef4f4f;
  border-left: #000 2px solid;
  border-right: #000 2px solid;
  border-bottom: #000 2px solid;
  padding: 0.5rem;
}

#click {
  background-color: #f5b461;
}

.ancClick {
  text-decoration: none;
}

/* Player names */
#playerNames {
  padding: 2rem;
  background-color: #ffd56b;
  border-left: 2px #000 solid;
  border-right: 2px #000 solid;
  border-bottom: 2px #000 solid;
}

#submitNames {
  padding: 2rem;
  background-color: #825959;
  border-left: 2px #000 solid;
  border-right: 2px #000 solid;
  border-bottom: 2px #000 solid;
}

#submitNames #sN {
  background-color: #fde8cd;
}

#submitNames .sN {
  text-decoration: none;
}

#res {
  padding: 2rem;
  background-color: #adce74;
  border-left: 2px #000 solid;
  border-right: 2px #000 solid;
  border-bottom: 2px #000 solid;
}

.resetBtn {
  width: 100%;
  border-left: 2px #000 solid;
  border-right: 2px #000 solid;
  border-bottom: 2px #000 solid;
  border-radius: 0 0 2rem 2rem;
  background-color: #ff7b54;
  margin-bottom: 1rem;
}
